<%include ./partials/header %>

<div CLASS="ui text container segment">
    <div class="ui huge header">
        edit Blog: " <%=blog.title %> "
   
        <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST" >
            <div class="field">
            <label>Title<label>
        <input type="text" name="title" value="<%=blog.title%>" placeholder="title" required>
        </div>
        <div class="field">
            <label>Image<label>
            <input type="text" name="image" value="<%= blog.image %>" placeholder="image">
        </div>
        <div class="field">
            <label>Blog Content<label>
            <textarea name="body"  required> <%= blog.body %> </textarea>
        </div>
       
        <button class="ui animated button black" tabindex="0" type="submit">
            <div class="visible content">Send</div>
            <div class="hidden content">
                <i class="right arrow icon"></i>
            </div>
        </button>
        </form>
    </div>
</div>
<%include ./partials/footer %>