<%include ./partials/header %>

<% blogs.forEach( (el)=> { %>
<div>
    <h1 id='te'> <%= el.title %> </h1>
    <img src="<%=el.image %>" alt="">
    <p> <%= el.body.slice(0,25) %> </p>
    <p> <%= el.created %> </p>
    <a href="/blogs/<%=el._id %>" >Read more </a>
    <a href="/blogs/<%=el._id %>/edit" >Edit blog </a>
</div>
<% }); %>


<%include ./partials/footer %>