<%include ./partials/header %>


<div class="ui main text container ">
    
    <div class="ui top attached segment " id="box">
        <div class="ui divided items " >
            <% blogs.forEach( (el)=> { %>
                <div cleass="ui centered " id="index--blog">
                    <h1 id='te'> <%= el.title %> </h1>
                    <img class="index--img"src="<%=el.image %>" alt="">
                    <p class="index--tekst"> <%= el.body.slice(0,25) %> </p>
                    <p class="index--date"> <%= el.created.toDateString() %> </p>
                    <div class="index--links">
                    <a href="/blogs/<%=el._id %>" >Read more </a>
                    <a href="/blogs/<%=el._id %>/edit" >Edit blog </a>
                    </div>
                    
                </div>
            <% }); %>
        </div>
    </div>
 </div>   



<%include ./partials/footer %>