<%include ./partials/header %>

<div CLASS="ui text container segment">
    <div class="ui huge header centered">
        <%= foundedBlog.title %>
        <div class="ui top attached ">
            <div class="item"></div>
            <img class="ui centered rounded image" src="<%=foundedBlog.image %>" alt="">
        </div>
        <div class="content">
            <span><%= foundedBlog.created.toDateString() %> </span>
        </div>
    </div>
    <div class="description">
        <p> <%= foundedBlog.body %> </p>
    </div>
    <form action="/blogs/<%=foundedBlog._id%>?_method=DELETE" method="POST" >
         <button class="ui animated button red" tabindex="0" type="submit">
            <div class="visible content">Delete this blog</div>
            <div class="hidden content">
                <i class="right arrow icon"></i>
            </div>
        </button>
    </form>
    
   
</div>
<%include ./partials/footer %>